<%-- 访问数据库的组件 --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>

<%-- 参数 --%>
<%@ CodeTemplate ResponseEncoding="UTF-8" Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" %>

<%@ Property Name="命名空间" Type="String" Default="Model" Category="Model" %>
<%@ Property Name="是否包含可空标志" Type="Boolean" Default="false" Category="Model" %>
<%@ Property Name="数据表" Type="SchemaExplorer.TableSchema" Category="Model" %>
<%@ Property Name="Usings" Type="CodeSmith.CustomProperties.StringCollection" Default="using System;,using System.Collections.Generic;" Category="Model" %>
<%@ Property Name="是否将序列化首字母小写" Type="Boolean" Default="false" Category="Model" %>
//***************************************************
//Author : chenbo
//Description : 本文件由CodeSmith工具自动生成，请勿修改
//***************************************************
<% foreach(var u in Usings) { %>
<%=u %>
<% } %>

namespace <%=命名空间%>
{
    public partial class <%=GetModel(数据表)%>
    {
        #region 成员变量

	<%
		foreach(ColumnSchema col in 数据表.Columns)
        {
    %>
        private <%=GetDataType(col) %> m_<%=col.Name%> = <%=GetDefaultValue(col) %>;
    <%         
        }
    %>

        #endregion

        #region 属性
    <%
		foreach(ColumnSchema col in 数据表.Columns)
        {
    %>

    <% if(!string.IsNullOrWhiteSpace(col.Description)) { %>
        /// <summary>
        /// <%=col.Description.Replace("\r\n","").Replace("\n","") %>
        /// </summary>
    <% } %>
    <% if(!是否将序列化首字母小写) { %>
        [JsonProperty("<%= OneToLower(col.Name)%>")]
    <% } %>
        public <%=GetDataType(col)%> <%=col.Name%>
        {
            get { return m_<%=col.Name%>; }
            set { m_<%=col.Name%> = value; }
        }
    <%         
        }
    %>

        #endregion
    }
}
<script runat="template">
	//获取类名
	public string GetModel(TableSchema table)
	{
		return table.Name.Substring(table.Name.IndexOf("_") + 1).Replace("_","") + "Info";
	}
    
    public override string GetFileName() 
    {
        return GetModel(数据表) + ".cs";
    }
    
    private string OneToLower(string str)
    {
        return str.Substring(0,1).ToLower() + str.Substring(1);
    }

	/// <summary>
	/// 获取C#数据类型
	/// </summary>
	/// <param name="column">ColumnSchema:列对象，列数据类型</param>
	/// <returns>C#数据类型</returns>
	public string GetDataType(ColumnSchema col)
	{
        string nullString = "";     // 可空数据类型标志
        if(col.AllowDBNull && 是否包含可空标志) 
        {
            nullString = "?";
        }
		switch (col.DataType)
		{
			case DbType.AnsiString: return "string";
			case DbType.AnsiStringFixedLength: return "string";
			case DbType.Binary: return "byte[]";
			case DbType.Boolean: return "bool" + nullString;
			case DbType.Byte: return "byte" + nullString;
			case DbType.Currency: return "decimal" + nullString;
			case DbType.Date: return "DateTime" + nullString;
			case DbType.DateTime: return "DateTime" + nullString;
			case DbType.DateTime2: return "DateTime" + nullString;
			case DbType.Decimal: return "decimal" + nullString;
			case DbType.Double: return "double" + nullString;
			case DbType.Guid: return "Guid" + nullString;
			case DbType.Int16: return "short" + nullString;
			case DbType.Int32: return "int" + nullString;
			case DbType.Int64: return "long" + nullString;
			case DbType.Object: return "object";
			case DbType.SByte: return "sbyte" + nullString;
			case DbType.Single: return "float" + nullString;
			case DbType.String: return "string";
			case DbType.StringFixedLength: return "string";
			case DbType.Time: return "TimeSpan" + nullString;
			case DbType.UInt16: return "ushort" + nullString;
			case DbType.UInt32: return "uint" + nullString;
			case DbType.UInt64: return "ulong" + nullString;
			case DbType.VarNumeric: return "decimal" + nullString;
			default: return "__UNKNOWN__" + col.NativeType;
		}
	}
    
    /// <summary>
    /// 获取C#数据类型默认值
    /// </summary>
    /// <param name="column">ColumnSchema:列对象，列数据类型</param>
    /// <returns>C#数据类型默认值</returns>
	public string GetDefaultValue(ColumnSchema col)
	{
		switch (col.DataType)
		{
			case DbType.AnsiString:
			case DbType.AnsiStringFixedLength:
            case DbType.String:
			case DbType.StringFixedLength:
                return "string.Empty";
			case DbType.Boolean:
                if(col.ExtendedProperties["CS_Default"].Value.ToString().ToLower().Contains("1")) {
                    return "true";   
                }
                return "false";
			case DbType.Byte: 
                return "1";
			case DbType.Date: 
			case DbType.DateTime:
            case DbType.DateTime2:
            case DbType.Time:
                return "CommonHelper.DefaultDateTime";
            case DbType.Currency:
			case DbType.Decimal:
			case DbType.Double: 
            case DbType.Int16:
			case DbType.Int32:
			case DbType.Int64:
            case DbType.VarNumeric:
                return "0";
			case DbType.Guid: 
                return "Guid.NewGuid()";
			case DbType.Object: 
                return "new object()";
			case DbType.SByte: 
                return "null";
			case DbType.Single: 
                return "0";
			case DbType.Binary: 
                return "null";
			case DbType.UInt16: 
                return "0";
			case DbType.UInt32: 
                return "0";
			case DbType.UInt64: 
                return "0";
			default:
				return "__UNKNOWN__" + col.NativeType;
		}
	}
</script>
