<%@ CodeTemplate Language="C#" TargetLanguage="Text" Description="实体层、DAL层、BLL层代码生成模板" ResponseEncoding="UTF-8"%>

<%-- 注册数据表生成模板 --%>
<%@ Register Name="ModelTemplate" Template="工具材料Model.cst" MergeProperties="Flase" ExcludeProperties="" Description="实体层模板" %>
<%@ Register Name="DALTemplate" Template="工具材料DAL.cst" MergeProperties="Flase" ExcludeProperties="" Description="实体层模板" %>
<%@ Register Name="BLLTemplate" Template="工具材料BLL.cst" MergeProperties="Flase" ExcludeProperties="" Description="实体层模板" %>

<%-- 数据库 --%>
<%@ Property Name="数据库" Type="SchemaExplorer.TableSchemaCollection" DeepLoad="True" Optional="False" Category="基本设置"%>

<% GenerateFiles();%>
生成成功！ 路径：<%= 输出路径 %>
<script runat="template">
    /// <summary>
    /// 遍历数据库所有的表，生成对应模板文件
    /// </summary>   
    private void GenerateFiles()
    {
        ModelTemplate model = new ModelTemplate();
        DALTemplate dal = new DALTemplate();
        BLLTemplate bll = new BLLTemplate();
        
        if(数据库.Count > 3) 
        {
            foreach(TableSchema table in 数据库)
            {
                // 实体层
                string modelPath = 输出路径 +"\\Model\\"+ GetParseName(table) + "Info.cs";
                model.SetProperty("数据表",table);
                model.RenderToFile(modelPath,true);
                // DAL
                string dalPath = 输出路径 +"\\DAL\\"+ GetParseName(table) + "DAL.cs";
                dal.SetProperty("数据表",table);
                dal.RenderToFile(dalPath,true);
                // BLL
                string bllPath = 输出路径 +"\\BLL\\"+ GetParseName(table) + "BLL.cs";
                bll.SetProperty("数据表",table);
                bll.RenderToFile(bllPath,true);
            }
        }
        else
        {
            foreach(TableSchema table in 数据库)
            {
                // 实体层
                string modelPath = 输出路径 +"\\"+ GetParseName(table) + "Info.cs";
                model.SetProperty("数据表",table);
                model.RenderToFile(modelPath,true);
                // DAL
                string dalPath = 输出路径 +"\\"+ GetParseName(table) + "DAL.cs";
                dal.SetProperty("数据表",table);
                dal.RenderToFile(dalPath,true);
                // BLL
                string bllPath = 输出路径 +"\\"+ GetParseName(table) + "BLL.cs";
                bll.SetProperty("数据表",table);
                bll.RenderToFile(bllPath,true);
            }
        }
    }

    #region 配置参数-解决方案输出路径

    // 解决方案输出路径
    private string Directory = String.Empty;

    [Editor(typeof(System.Windows.Forms.Design.FolderNameEditor), typeof(System.Drawing.Design.UITypeEditor))] 
    [Optional, NotChecked]
    [DefaultValue("")]
    [Category("基本设置")]
    public string 输出路径
    { 
        get
        {
            return Directory;
        }
        set
        {
            if (value.EndsWith("\\")) 
                value = value.Substring(0, value.Length -1);
                Directory = value;
        } 
    }
    
    public string GetParseName(TableSchema table)
    {
		return table.Name.Substring(table.Name.IndexOf("_") + 1).Replace("_","");
    }
    
    #endregion
</script>