<%@ CodeTemplate Language="C#" TargetLanguage="Text" Description="实体层、DAL层、BLL层代码生成模板" ResponseEncoding="UTF-8"%>

<%-- 注册数据表生成模板 --%>
<%@ Register Name="ModelTemplate" Template="信息管理数据库设计说明书.cst" MergeProperties="Flase" ExcludeProperties="" %>

<%-- 数据库 --%>
<%@ Property Name="数据表" Type="SchemaExplorer.TableSchemaCollection" DeepLoad="True" Optional="False" Category="基本设置"%>

<% GenerateFiles();%>
<script runat="template">
    /// <summary>
    /// 遍历数据库所有的表，生成对应模板文件
    /// </summary>   
    private void GenerateFiles()
    {
        ModelTemplate model = new ModelTemplate();
        string modelPath = 输出路径 +"\\excel.xls";
        model.SetProperty("数据表",数据表);
        model.RenderToFile(modelPath,true);
    }

    #region 配置参数-解决方案输出路径

    // 解决方案输出路径
    private string Directory = String.Empty;

    [Editor(typeof(System.Windows.Forms.Design.FolderNameEditor), typeof(System.Drawing.Design.UITypeEditor))] 
    [Optional, NotChecked]
    [DefaultValue("")]
    [Category("基本设置")]
    public string 输出路径
    { 
        get
        {
            return Directory;
        }
        set
        {
            if (value.EndsWith("\\")) 
                value = value.Substring(0, value.Length -1);
                Directory = value;
        } 
    }
    
    public string GetParseName(TableSchema table)
    {
		return table.Name.Substring(table.Name.IndexOf("_") + 1).Replace("_","");
    }
    
    #endregion
</script>